{% block content %}
<h1>All Users</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Username</th>
      <th>Roles</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.roles }}</td>
      <td>{{ user.active }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
